#Misc:
.DS_Store
release
piplib
maven-repo/
dist/

# Others data
src/main/resources/geonames.org/
src/main/resources/ISO-639-2_utf-8.txt
etc/langdetect
Core/src/main/resources/geonames.org/
Core/src/main/resources/ISO-639-2_utf-8.txt
Core/etc/langdetect


#Maven output
target/
#  TODO can we remove this?:
dist/
build/
bin/
log
logs
export
results
build.properties

#Build files
#Eclipse
.classpath
.project
.settings/
.pydevproject

#IntelliJ
/out/
*.iml

/*.ipr
/*.iws
/.idea/

#Netbeans
nb-configuration.xml
nbactions*.xml
nbproject/

#If files with these extensions are needed, they can be added manually.
*.jar
*.war
*.zip
*.pyc
