#Misc:
.DS_Store
release
piplib
maven-repo/
dist/

# Generated data or Downloaded resources.
# Do not check in gazetteer metadata from ./solr/etc/ -- It is copied to src/main/resources to prepare JAR
src/main/resources/additions/
src/main/resources/filters/
src/main/resources/lang/
Core/src/main/resources/geonames.org/
Core/src/main/resources/ISO-639-2_utf-8.txt
Core/etc/langdetect


#Maven output
target/
#  TODO can we remove this?:
dist/
build/
bin/
log
logs
export
results
build.properties

#Build files
#Eclipse
.classpath
.project
.settings/
.pydevproject

#IntelliJ
/out/
*.iml

/*.ipr
/*.iws
/.idea/
/Core/.idea/
/Core/*.ipr
/Core/*.iws

#Netbeans
nb-configuration.xml
nbactions*.xml
nbproject/

#If files with these extensions are needed, they can be added manually.
*.jar
*.war
*.zip
*.pyc

# Solr indices:
index/
*.sqlite
