#Misc:
.DS_Store
release

#Maven output
target/
#  TODO can we remove this?:
build/

#Build files
#Eclipse
.classpath
.project
.settings/

#IntelliJ
/out/
*.iml

/*.ipr
/*.iws
/.idea/

#Netbeans
nb-configuration.xml
nbactions*.xml
nbproject/

#If files with these extensions are needed, they can be added manually.
*.jar
*.war
*.zip
