/build/
/target/
/FlexPat/doc/javadoc
/FlexPat/lib/opensextant-commons.jar
/PoLi/lib/flexpat-1.3.jar
/PoLi/lib/opensextant-commons.jar
/XCoord/etc/geocoord_regex.cfg
/XCoord/lib/flexpat-1.3.jar
/XCoord/lib/opensextant-commons.jar
/XTax/.project
/XTax/.pydevproject
/XTax/build.properties
/XTemporal/etc/
/XTemporal/lib/flexpat-1.3.jar
/XTemporal/lib/opensextant-commons.jar
/XTemporal/nbactions.xml
/XText/etc/
/XText/lib/opensextant-commons.jar
/dist/
/opensextant-xponents-1.6.jar
