
services:
  sonarqube:
    image: sonarqube:25.12.0.117093-community
    depends_on:
      - db
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://db:5432/sonar
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    volumes:
      - sonarqube25_data:/opt/sonarqube/data
      - sonarqube25_extensions:/opt/sonarqube/extensions
      - sonarqube25_logs:/opt/sonarqube/logs
      - sonarqube25_temp:/opt/sonarqube/temp
    ports:
      # NOTE: starting to see modern net proxies using port 9000; remap as needed.
      - "9900:9000"
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
    volumes:
      - postgresql_15_25:/var/lib/postgresql
      - postgresql_15_25_data:/var/lib/postgresql/data

volumes:
  sonarqube25_data:
  sonarqube25_extensions:
  sonarqube25_logs:
  sonarqube25_temp:
  postgresql_15_25:
  postgresql_15_25_data:
