<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--  Root  -->
    <root level="error" additivity="false">
        <appender-ref ref="STDOUT" />
    </root>

    <!--  Loggers -->
    <logger name="org.apache" level="error">
    </logger>
    <logger name="org.opensextant.extractors" level="info">
    </logger>
    <logger name="org.opensextant.extractors.xtemporal" level="debug">
    </logger>
    <logger name="org.opensextant.extractors.xcoord" level="debug">
    </logger>
    <logger name="org.opensextant.extractors.poli" level="debug">
    </logger>

</configuration>
