include LICENSE
include opensextant/resources/geocoord_patterns.cfg
include opensextant/resources/country-names-2021.csv
include opensextant/resources/country-names-2015.csv
include opensextant/resources/datetime_patterns.cfg
include opensextant/resources/datetime_patterns_py.cfg
include opensextant/resources/poli_patterns.cfg
include opensextant/resources/ISO_639_2_utf-8.txt
include opensextant/resources/us-state-metadata.csv
include opensextant/resources/geonames.org/cities15000.txt
include opensextant/resources/geonames.org/admin1CodesASCII.txt
